# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large model/data files
*.faiss
*.pkl
*.h5
*.ckpt
*.pth

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

.env        # Environment files (Flask, React, etc.)
venv/       # Virtual environment (if using Python venv)
